body {
    background: #66ccff;
}

.road {
    position: absolute;
    top: 70%;
    height: 30%;
    width: 100%;
    background: #9191a0;
}

.sun {
    position: absolute;
    top: 6vh;
    left: 6vh;
    width: 8vh;
    min-height: 50px;
    min-width: 50px;
    height: 8vh;
    border-radius: 50%;
    background: #ffff66;
}

body {
    background: #66ccff;
    margin: 0;
}

.bus {
    position: absolute;
    top: 50%;
    left: 30%;
    height: 250px;
    width: 700px;
    background: #e3ed50;
    border-radius: 10% / 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 10px;
}

.wheel1 {
    position: absolute;
    top: 205px;
    left: 100px;
}

.wheel2 {
    position: absolute;
    top: 205px;
    left: 510px;
}

.wheelShadow {
    position: relative;
    background-color: #303212;
    width: 80px;
    height: 45px;
    border-radius: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.tire {
    position: absolute;
    left: 8px;
    width: 30px;
    height: 30px;
    top:5px;
    background: grey;
    border: 18px solid black;
    border-radius: 50%
}

.window1, .window2, .window3, .window4, .windowF2 {
    position: absolute;
    width: 150px;
    height: 110px;
    top: 10px;
    background: #3b3b33;
    border-radius: 10px;
}

.window1 {
    left: 10px;
}

.window2 {
    left: 170px;
}

.window3 {
    left: 330px;
}


.window4 {
    left: 500px;
    height: 110px;
    width: 140px;
}

.windowF1 {
    position: absolute;
    width: 0;
    height: 0;
    top: 12px;
    left: 637px;
    border-bottom: 108px solid #3b3b33;
    border-right: 50px solid transparent;
    border-radius: 10px;
}

.windowF2 {
    left: 576px;
    top: 110px;
    height: 50px;
    width: 110px;
}

.roundedMask {
    background: #e3ed50;
    position: absolute;
    border-radius: 10% / 100%;
    border-top-right-radius: 60%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 495px;
    top: 117px;
    width: 130px;
    height: 70px;
}

.frontLights {
    position: absolute;
    top: 180px;
    left: 679px;
    width: 20px;
    height: 30px;
    background: #e6f0f2;
    border-radius: 50%;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.backLights {
    position: absolute;
    top: 160px;
    width: 18px;
    height: 45px;
    background: #c31515;
    border-radius: 20%;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
